// ********* Variabile generale  **********////////

// ********* Variabile generale pt font **********////////
$primary-font:'Source Sans Pro', sans-serif;

// ********* Variabile generale pt thema **********////////
$default-color:#2D405C;
$default-hover-light:#596c87;
$default-selection :#99BDF2;
$default-icon-visible:#9be5e9;
$default-error:#B22222;
$default-green:#32CD32;
$white:#FFFFFF;
$default-gray:gray;
$category-hover:#e3ecfa;



