<div class="change-password-container">
  <mat-toolbar>
    <mat-toolbar-row fxLayout="row">
      <span class="title">Schimbă parola</span>
      <mat-icon (click)="inchideDialogul()">close</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="formSchimbareParola">
      <div fxFlex fxLayout="column">
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Parolă veche</mat-label>
          <div class="password-input">
            <input
              matInput
              [type]="parolaVecheAscunsa ? 'password' : 'text'"
              formControlName="parolaVeche"
              required
            />
            <button
              mat-icon-button
              (click)="afiseazaParola($event, 'parolaVeche')"
              [attr.aria-label]="
                parolaVecheAscunsa ? 'Hide Password' : 'Show Password'
              "
            >
              <mat-icon
                [ngClass]="{
                  'visibility-off': parolaVecheAscunsa,
                  'visibility-on': !parolaVecheAscunsa
                }"
              >
                {{ parolaVecheAscunsa ? "visibility_off" : "visibility" }}
              </mat-icon>
            </button>
          </div>

          <mat-error
            *ngIf="
              formSchimbareParola.controls.parolaVeche.invalid &&
              formSchimbareParola.controls.parolaVeche.touched
            "
          >
            <span
              *ngIf="formSchimbareParola.controls.parolaVeche.errors.required"
              >Acest câmp este obligatoriu.</span
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Parolă nouă</mat-label>
          <div class="password-input">
            <input
              matInput
              [type]="parolaNouaAscunsa ? 'password' : 'text'"
              formControlName="parolaNoua"
              required
            />
            <button
              mat-icon-button
              (click)="afiseazaParola($event, 'parolaNoua')"
              [attr.aria-label]="
                parolaNouaAscunsa ? 'Hide Password' : 'Show Password'
              "
            >
              <mat-icon
                [ngClass]="{
                  'visibility-off': parolaNouaAscunsa,
                  'visibility-on': !parolaNouaAscunsa
                }"
              >
                {{ parolaNouaAscunsa ? "visibility_off" : "visibility" }}
              </mat-icon>
            </button>
          </div>

          <mat-error
            *ngIf="
              formSchimbareParola.controls.parolaNoua.invalid &&
              formSchimbareParola.controls.parolaNoua.touched
            "
          >
            <span
              *ngIf="formSchimbareParola.controls.parolaNoua.errors.required"
              >Acest câmp este obligatoriu.</span
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Confirmă parola</mat-label>
          <div class="password-input">
            <input
              matInput
              [type]="confirmaParolaAscunsa ? 'password' : 'text'"
              formControlName="confirmaParola"
              required
            />
            <button
              mat-icon-button
              (click)="afiseazaParola($event, 'confirmaParola')"
              [attr.aria-label]="
                confirmaParolaAscunsa ? 'Hide Password' : 'Show Password'
              "
            >
              <mat-icon
                [ngClass]="{
                  'visibility-off': confirmaParolaAscunsa,
                  'visibility-on': !confirmaParolaAscunsa
                }"
              >
                {{ confirmaParolaAscunsa ? "visibility_off" : "visibility" }}
              </mat-icon>
            </button>
          </div>

          <mat-error
            *ngIf="
              formSchimbareParola.controls.confirmaParola.invalid &&
              formSchimbareParola.controls.confirmaParola.touched
            "
          >
            <span
              *ngIf="
                formSchimbareParola.controls.confirmaParola.errors.required
              "
              >Acest câmp este obligatoriu.</span
            >
          </mat-error>
          <mat-hint
            *ngIf="
              !verificaNouaParolaConfirmParolaMatch() &&
              !formSchimbareParola.controls.confirmaParola.invalid
            "
            ><span>
              Noua parolă și vechea parolă nu se potrivesc!
            </span></mat-hint
          >
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button class="btn-cancel" (click)="inchideDialogul()">
      Cancel
    </button>
    <button
      mat-raised-button
      class="btn-submit"
      type="submit"
      (click)="gestioneazaSchimbareaParoleiOnSubmit()"
      [disabled]="
        !verificaNouaParolaConfirmParolaMatch() ||
        !(formSchimbareParola.valid && formSchimbareParola.dirty)
      "
    >
      Schimbă parola
    </button>
  </mat-dialog-actions>
</div>
