<div class="container">
  <mat-card class="first-card">
    <div class="container-title">Gestionează mașinile</div>
    <button class="container-add-btn" (click)="gestioneazaAdaugarea()">
      Adaugă mașină
    </button>
  </mat-card>
  <mat-card>
    <mat-form-field appearance="fill">
      <mat-label>Filtrează</mat-label>
      <input matInput (keyup)="filtreazaData($event)" #input />
    </mat-form-field>
  </mat-card>
  <div class="responsive_table">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="nume">
        <th mat-header-cell *matHeaderCellDef>Model </th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="numeleCategoriei">
        <th mat-header-cell *matHeaderCellDef>Nume categorie</th>
        <td mat-cell *matCellDef="let element">{{ element.categoryName }}</td>
      </ng-container>

      <ng-container matColumnDef="descriere">
        <th mat-header-cell *matHeaderCellDef>Descriere</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>

      <ng-container matColumnDef="pret">
        <th mat-header-cell *matHeaderCellDef>Preț/Zi (€)</th>
        <td mat-cell *matCellDef="let element">{{ element.price }}</td>
      </ng-container>

      <ng-container matColumnDef="editeaza">
        <th mat-header-cell *matHeaderCellDef>Acțiune</th>
        <td mat-cell *matCellDef="let element" class="action-link action-group">
          <button
            mat-icon-button
            (click)="gestioneazaEditarea(element)"
            matTooltip="Editează"
          >
            <mat-icon class="edit-icon"> edit </mat-icon>
          </button>
          <button
          mat-icon-button
          (click)="gestioneazaStergerea(element)"
          matTooltip="Șterge"

        >
          <mat-icon class="edit-icon">delete</mat-icon>
        </button>
        <mat-slide-toggle matTooltip="Activează/Dezactivează" (change)="onChange($event.checked, element.id)" [checked]="element.status"></mat-slide-toggle>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="coloaneAfisate; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: coloaneAfisate"></tr>
    </table>
  </div>
</div>
