#Server 
PORT=8080

#connection to sql
DB_PORT=3306
DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=grandautorental

#JWT secret token
JWT_SECRET_TOKEN=JWT_SECRET_NO_QUOTES

#node mailer
MAILER_EMAIL = GMAIL_EMAIL_HERE_NO_QUOTES
MAILER_PASSWORD = GMAIL_GENERATED_PASSWORD_HERE_NO_QUOTES

USER=user


